.correct {
    border: 1rem solid #28a745;
    border-radius: 2rem;
}

.incorrect {
    border: 1rem solid #dc3545;
    border-radius: 2rem;
}

input[type=text] {
    width: 100%;
    height: 4rem;
    border: 0.2rem solid var(--primary-black);
    border-radius: 1rem;
    font-size: 2rem;
    padding-left: 1rem;
}

input[type=text]:focus {
    outline: none;
}

form {
    width: 50rem;
    align-self: center;
}