.correct {
    border: 1rem solid #28a745;
}

.incorrect {
    border: 1rem solid #dc3545;
}

input {
    width: 100%;
    height: 4rem;
    border: 0.2rem solid var(--primary-black);
    border-radius: 1rem;
    font-size: 2rem;
    padding-left: 1rem;
}